.header {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  height: 50px;
  font-size: 26px;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 2px 4px 6px rgb(0, 0, 0, 0.15);
  width: 100%;
  border: solid 1px black;
}

@media screen and (max-width: 500px) {
  .header {
    font-size: 18px;
  }
}
